<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briquedoteca Online</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<img src="/images/BrinquedoTeca.png" alt="Logo Argos AI">
<h1>Brinquedoteca Online</h1>

<ul>
    <li><a href="/brinquedos/cadastrar">Cadastrar Brinquedos</a></li>
    <li><a href="/brinquedos/listar">Listar Todos os Brinquedos</a></li>
</ul>
</body>
</html>
